body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.corpo {
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    align-self: center;

    background-color: lightgray;
    width: 450px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 12px 12px 0px darkgray;
}

.titulo {
    font-size: 12px;
    font-style: italic;
    margin-left: 45px;
    margin-top: 5px;
    cursor: default;
    position: absolute;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 9%;
    height: 100px;
    width: 360px;
    background-color: green;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px darkgreen;
    border: 5px solid gray;
}

.display-box {
    text-align: end;
    border: none;
    max-width: 330px;
    height: 90px;
    background-color: transparent;
    font-size: 32px;
    font-weight: 700;
    cursor: default;
}

.teclado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.operadores {
    min-width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.operadores input {
    background-color: darkgray;

    font-size: larger;
    font-weight: 700;

    border-radius: 8px;
    border: none;
    box-shadow: 3px 3px 2px gray;

    height: 30px;
    min-width: 5%;
    width: 13%;
    max-width: 20%;
    margin-bottom: 40px;
}

.apagar {
    margin-left: 10px;
}

.C {
    color: darkred;
}

.operadores input:hover {
    cursor: pointer;
}

.operadores input:active {
    box-shadow: 1.5px 1.5px 1px gray;
}

.numeros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    flex-wrap: wrap;
    
    height: 200px;
}

.numeros input {
    background-color: darkgray;

    font-size: larger;
    font-weight: 700;

    border-radius: 8px;
    border: none;
    box-shadow: 3px 3px 2px gray;

    margin: 1%;
    height: 60px;
    width: 120px;
}

.numeros input:hover {
    cursor: pointer;
}

.numeros input:active {
    box-shadow: 1.5px 1.5px 1px gray;
}